<div id="<%= dom_id carro %>">
  <p>
    <strong>Modelo:</strong>
    <%= carro.modelo %>
  </p>

  <p>
    <strong>Matricula:</strong>
    <%= carro.matricula %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= carro.color %>
  </p>

</div>
