<p style="color: green"><%= notice %></p>

<% content_for :title, "Carros" %>
  <h1>Carros</h1>
    <div id="carros">
      <% @carros.each do |carro| %>
      <%= render carro %> 
        <p>
        <button type="button" class="btn btn-outline-info">
          <%= link_to "Mirar este carro", carro %>
        </button>
        </p>
    <% end %>
  </div>
  
  