<% content_for :title "Mostrar carros" %>
<h1>Lista de todos los carros</h1>

<div id = "lista de todos los carros">
        <% @carros.each do |carro| %>
        <%= render carro.all%>
</div>        
<%= link_to "Volver al menu principal" %>