<div id="<%= dom_id home %>">
  <p>
    <strong>Nombre:</strong>
    <%= home.nombre %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= home.desc %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= home.direccion %>
  </p>

</div>
