<% content_for :title, "Editar pedidos" %>

<h1>Editar un pedido</h1>

<%= render "form", home: @home %>

<br>

<div class="boton">
  <%= link_to "Mirar este pedido", @home, class: 'btn btn-secondary' %>
  <%= link_to "Volver a la pagina Anterior", home_path, class: 'btn btn-secondary' %>
</div>
