<p style="color: green"><%= notice %></p>

<% content_for :title, "LA TERRAZA DEL PRI" %>

<h1>Pedidos</h1>

<div id="homes">
  <% @home.each do |home| %>
    <%= render partial: 'home', locals: { home: home } %> 
    <p>
      <%= link_to "Mirar este pedido", home , class: 'btn btn-secondary'%>
    </p>
  <% end %>
</div>

