<div id="<%= dom_id moto %>">
  <p>
    <strong>Marca:</strong>
    <%= moto.marca %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= moto.modelo %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= moto.color %>
  </p>

</div>
