<% content_for :title, "Editing moto" %>

<h1>Editing moto</h1>

<%= render "form", moto: @moto %>

<br>

<div>
  <%= link_to "Show this moto", @moto %> |
  <%= link_to "Back to motos", motos_path %>
</div>
